
<h1 class="page-header">Detalhamento de cliente</h1>
<% if notice %>
	<div class="alert alert-info alert-dismissable">
		<button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
		<%= notice %>
	</div>
<%end%>
<%= render partial: 'informacoes_clientes' %>
</br>
</br>
<%= link_to edit_cliente_path do %>
	<button type="button" class="btn btn-primary">Editar</button>
<%end%>
<%= link_to @cliente, method: :delete, data: { confirm: 'Tem certeza de que quer apagar este cliente e todos os seus empréstimos?' } do %>
	<button type="button" class="btn btn-danger">Deletar</button>
<%end%>
</br>
</br>
</br>